
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.react-datepicker-popper div,
.react-datepicker-wrapper div {
  display: block;
}
.react-datepicker-popper .react-datepicker__day-name,
.react-datepicker-popper .react-datepicker__day,
.react-datepicker-popper .react-datepicker__time-name {
  display: inline-block;
}

textarea, input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
